#fab {
    position: fixed; right: 50px; bottom: 100px;
}
#fab .chat {}
#fab .go_top {
    display: block;
}
#top_bnr {background-color: #E5E4F2;
    height: 52px; position: relative;
}
#top_bnr .viewport { background-color: #888;
    width:1140px; overflow: hidden;
    margin: 0 auto;
}
#top_bnr .viewport .ad_full { background-color: aquamarine;
    width:max-content;
    display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
    /* animation: bnrmv 6s ease-in-out infinite; */
}
#top_bnr .viewport .ad_full .ad { background-color: burlywood; border: 1px solid #000;
    height:52px; width: 1140px; position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
}
/* #top_bnr .viewport .ad_full .ad:first-child {z-index: 100;}
#top_bnr .viewport .ad_full .ad:last-child {z-index: 50;} */
#top_bnr .viewport .ad_full .ad a {background-color: antiquewhite;
    width:100%; height: 52px; display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
}
#top_bnr .bnr_close {
    position: absolute; right: 40px; top: 50%; transform: translateY(-50%);
}
/* @keyframes bnrmv {
    @keyframes slide {
    /* 첫 번째 배너 보여줌 (2초 정지) */
    0%   { transform: translateX(0); }
    33%  { transform: translateX(0); }
    /* 두 번째로 이동 (1초 이동) */
    50%  { transform: translateX(-1140px); }
    /* 두 번째 배너 정지 (2초) */
    83%  { transform: translateX(-1140px); }
    /* 복제 첫 번째로 이동 (1초) */
    100% { transform: translateX(-2280px); }
} */
/* -------------------------헤더좌측--------------------- */
#wrap header {display: flex; flex-flow: row nowrap; align-items: center;}
#wrap header .left {display: flex; justify-content: center; align-items: center;}
#wrap header .left h1 {}
#wrap header .left h1 a {}
#wrap header .left h1 a img {
    width: 110px; height: 37px;
}
#wrap header .left nav {}
#wrap header .left nav #gnb {
    display: flex;
}
#wrap header .left nav #gnb > li {padding: 0 20px;}
#wrap header .left nav #gnb > li a {
    color:#001e63; display: block; padding: 25px 0;
    font-weight: 700;
}
#wrap header .left nav #gnb > li .lnb {}
#wrap header .left nav #gnb > li .lnb .depth2 {display: none;}
#wrap header .left nav #gnb > li .lnb .depth2 > li {}
#wrap header .left nav #gnb > li .lnb .depth2 > li a {color:#001e63;}
#wrap header .left nav #gnb > li .lnb .depth2 > li .depth3 {}
#wrap header .left nav #gnb > li .lnb .depth2 > li .depth3 li {}
#wrap header .left nav #gnb > li .lnb .depth2 > li .depth3 li a {color:#001e63;}
#wrap header .left nav #gnb > li .lnb .lnb_right {display: none;}
#wrap header .left nav #gnb > li .lnb .lnb_right img {}
#wrap header .left nav #gnb > li .lnb .lnb_right p {}
/* ------------------------------헤더 우측 검색~장바구니--------------------------- */
#wrap header .right {
    display: flex; justify-content: center; align-items: center;
}
#wrap header .right #h_search {
    display: flex; flex-flow: row nowrap;
    justify-content: space-around; align-items: center;
    width: 230px; padding: 10px 15px;
    border: 1px solid #001e63; border-radius: 30px;
}
#wrap header .right #h_search #search_input {}
#wrap header .right #h_search #search_btn {}
#wrap header .right #h_search #search_btn img {}
#wrap header .right #h_account {}
#wrap header .right #h_cs {}
#wrap header .right #h_cart {}
#wrap header .right #h_cart img {}
#wrap main {}
#wrap main .kinetin_wrap {}
#wrap main .kinetin_wrap a {}
#wrap main .kinetin_wrap a img {}
#wrap main .kinetin_wrap .kinetic_text {}
#wrap main .kinetin_wrap .kinetic_text h1 {}
#wrap main .kinetin_wrap .kinetic_text p {}
#wrap main .kinetin_wrap .kinetic_text .buy_btn {}
#wrap main .metaspeed_wrap {}
#wrap main .metaspeed_wrap a {}
#wrap main .metaspeed_wrap a img {}
#wrap main .metaspeed_wrap .metaspeed_text {}
#wrap main .metaspeed_wrap .metaspeed_text h1 {}
#wrap main .metaspeed_wrap .metaspeed_text p {}
#wrap main .metaspeed_wrap .metaspeed_text .buy_btn {}
#wrap main #blast_slide_viewport {}
#wrap main #blast_slide_viewport .ad_full {}
#wrap main #blast_slide_viewport .ad_full .ad {}
#wrap main #blast_slide_viewport .ad_full .ad a {}
#wrap main #blast_slide_viewport .ad_full .ad a img {}
#wrap main #blast_slide_viewport .ad_full .ad h1 {}
#wrap main #blast_slide_viewport .ad_full .ad p {}
#wrap main #blast_slide_viewport .ad_full .ad .buy_btn {}
#wrap main #blast_slide_viewport .page_btn {}
#wrap main #blast_slide_viewport .page_btn .prev_btn {}
#wrap main #blast_slide_viewport .page_btn .prev_btn img {}
#wrap main #blast_slide_viewport .page_btn .next_btn {}
#wrap main #blast_slide_viewport .page_btn .next_btn img {}
#wrap main #blast_slide_viewport .page_btn .progress_bar {}
#wrap main #blast_slide_viewport .page_btn .progress_bar .pb_active {}
#wrap main #marathon_slides {}
#wrap main #marathon_slides h1 {}
#wrap main #marathon_slides .category {}
#wrap main #marathon_slides .category li {}
#wrap main #marathon_slides .apparel_slide_vp {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li a {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li a img {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li a h1 {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li a .price {}
#wrap main #marathon_slides .apparel_slide_vp .ad_full li a .keyword {}
#wrap main #marathon_slides .apparel_slide_vp .page_btn {}
#wrap main #marathon_slides .apparel_slide_vp .page_btn .prev_btn {}
#wrap main #marathon_slides .apparel_slide_vp .page_btn .prev_btn img {}
#wrap main #marathon_slides .apparel_slide_vp .page_btn .next_btn {}
#wrap main #marathon_slides .apparel_slide_vp .page_btn .next_btn img {}
#wrap main #marathon_slides .training_slide_vp {}
#wrap main #marathon_slides .training_slide_vp .ad_full {}
#wrap main #marathon_slides .training_slide_vp .ad_full li {}
#wrap main #marathon_slides .training_slide_vp .ad_full li a {}
#wrap main #marathon_slides .training_slide_vp .ad_full li a img {}
#wrap main #marathon_slides .training_slide_vp .ad_full li a h1 {}
#wrap main #marathon_slides .training_slide_vp .ad_full li a .price {}
#wrap main #marathon_slides .training_slide_vp .ad_full li a .keyword {}
#wrap main #marathon_slides .training_slide_vp .page_btn {}
#wrap main #marathon_slides .training_slide_vp .page_btn .prev_btn {}
#wrap main #marathon_slides .training_slide_vp .page_btn .prev_btn img {}
#wrap main #marathon_slides .training_slide_vp .page_btn .next_btn {}
#wrap main #marathon_slides .training_slide_vp .page_btn .next_btn img {}
#wrap main #marathon_slides .more_items {}
#wrap main .sportstyle_bnr {}
#wrap main .sportstyle_bnr h1 {}
#wrap main .sportstyle_bnr p {}
#wrap main .kayano {}
#wrap main .kayano a {}
#wrap main .kayano a img {}
#wrap main .kayano .kayano_text {}
#wrap main .kayano .kayano_text h1 {}
#wrap main .kayano .kayano_text p {}
#wrap main .kayano .kayano_text .buy_btn {}
#wrap main .style_magazine {}
#wrap main .style_magazine h1 {}
#wrap main .style_magazine .slide_wrap_viewport {}
#wrap main .style_magazine .slide_wrap_viewport .ad_full {}
#wrap main .style_magazine .slide_wrap_viewport .ad_full li {}
#wrap main .style_magazine .slide_wrap_viewport .ad_full li a {}
#wrap main .style_magazine .slide_wrap_viewport .ad_full li a img {}
#wrap main .style_magazine .slide_wrap_viewport .ad_full li a h2 {}
#wrap main .style_magazine .slide_wrap_viewport .prev_btn {}
#wrap main .style_magazine .slide_wrap_viewport .prev_btn img {}
#wrap main .style_magazine .slide_wrap_viewport .next_btn {}
#wrap main .style_magazine .slide_wrap_viewport .next_btn img {}
#wrap main .style_magazine .slide_wrap_viewport .progress_bar {}
#wrap main .style_magazine .slide_wrap_viewport .progress_bar .pb_active {}
#wrap main .nyc {}
#wrap main .nyc a {}
#wrap main .nyc a img {}
#wrap main .nyc .nyc_text {}
#wrap main .nyc .nyc_text h1 {}
#wrap main .nyc .nyc_text p {}
#wrap main .nyc .nyc_text .buy_btn {}
#wrap main #shop_b_s {}
#wrap main #shop_b_s h1 {}
#wrap main #shop_b_s .slide_wrap_viewport {}
#wrap main #shop_b_s .slide_wrap_viewport .ad_full {}
#wrap main #shop_b_s .slide_wrap_viewport .ad_full li {}
#wrap main #shop_b_s .slide_wrap_viewport .ad_full li a {}
#wrap main #shop_b_s .slide_wrap_viewport .ad_full li a img {}
#wrap main #shop_b_s .slide_wrap_viewport .ad_full li a h2 {}
#wrap main #shop_b_s .slide_wrap_viewport .prev_btn {}
#wrap main #shop_b_s .slide_wrap_viewport .prev_btn img {}
#wrap main #shop_b_s .slide_wrap_viewport .next_btn {}
#wrap main #shop_b_s .slide_wrap_viewport .next_btn img {}
#wrap main #shop_b_s .slide_wrap_viewport .progress_bar {}
#wrap main #shop_b_s .slide_wrap_viewport .progress_bar .pb_active {}
#wrap main #ff_resolution {}
#wrap main #ff_resolution .ad_full {}
#wrap main #ff_resolution .ad_full .ad {}
#wrap main #ff_resolution .ad_full .ad a {}
#wrap main #ff_resolution .ad_full .ad a img {}
#wrap main #ff_resolution .ad_full .ad h1 {}
#wrap main #ff_resolution .ad_full .ad p {}
#wrap main #ff_resolution .ad_full .ad .buy_btn {}
#wrap main #ff_resolution .prev_btn {}
#wrap main #ff_resolution .prev_btn img {}
#wrap main #ff_resolution .next_btn {}
#wrap main #ff_resolution .next_btn img {}
#wrap main #ff_resolution .progress_bar {}
#wrap main #ff_resolution .progress_bar .pb_active {}
#wrap main #ff_tf {}
#wrap main #ff_tf a {}
#wrap main #ff_tf a img {}
#wrap main #ff_tf .ff_tf_text {}
#wrap main #ff_tf .ff_tf_text h1 {}
#wrap main #ff_tf .ff_tf_text p {}
#wrap main #ff_tf .ff_tf_text .buy_btn {}
#wrap main .news_event {}
#wrap main .news_event h1 {}
#wrap main .news_event .slide_wrap_viewport {}
#wrap main .news_event .slide_wrap_viewport .ad_full {}
#wrap main .news_event .slide_wrap_viewport .ad_full li {}
#wrap main .news_event .slide_wrap_viewport .ad_full li a {}
#wrap main .news_event .slide_wrap_viewport .ad_full li a img {}
#wrap main .news_event .slide_wrap_viewport .prev_btn {}
#wrap main .news_event .slide_wrap_viewport .prev_btn img {}
#wrap main .news_event .slide_wrap_viewport .next_btn {}
#wrap main .news_event .slide_wrap_viewport .next_btn img {}
#wrap main .news_event .slide_wrap_viewport .progress_bar {}
#wrap main .news_event .slide_wrap_viewport .progress_bar .pb_active {}
#wrap footer {}
#wrap footer #cs_info {}
#wrap footer #cs_info #cs_info_top {}
#wrap footer #cs_info #cs_info_top a {}
#wrap footer #cs_info #cs_info_top a img {}
#wrap footer #cs_info #cs_info_top .call {}
#wrap footer #cs_info #cs_info_top .call a {}
#wrap footer #cs_info #cs_info_top .time {}
#wrap footer #cs_info #cs_info_bot {}
#wrap footer #cs_info #cs_info_bot #kcp {}
#wrap footer #cs_info #cs_info_bot #kcp .kcp_logo {}
#wrap footer #cs_info #cs_info_bot #kcp .kcp_logo img {}
#wrap footer #cs_info #cs_info_bot #kcp .p {}
#wrap footer #cs_info #cs_info_bot #kcp .p em {}
#wrap footer #cs_info #cs_info_bot #isms {}
#wrap footer #cs_info #cs_info_bot #isms img {}
#wrap footer #cs_info #cs_info_bot #isms p {}
#wrap footer #cs_info #cs_info_bot #isms p em {}
#wrap footer #f_utility {}
#wrap footer #f_utility li {}
#wrap footer #f_utility li a {}
#wrap footer #sns_adr {}
#wrap footer #sns_adr #f_legal {}
#wrap footer #sns_adr #f_legal a {}
#wrap footer #sns_adr #f_sns {}
#wrap footer #sns_adr #f_sns ul {}
#wrap footer #sns_adr #f_sns ul li {}
#wrap footer #sns_adr #f_sns ul li a {}
#wrap footer #sns_adr #f_sns ul li a img {}
#wrap footer #sns_adr address {}